@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Montserrat&display=swap');

$main_bg_color: #fff;
$main_color: #282626;
$second_color: #767676;
$accent_color: #656EC2;
