@import './global.modules.scss';

*, *::before, *::after {
	box-sizing: border-box;
}

html, body, body>div {
	height: 100%;
}
body {
	background: $main_bg_color;
	padding: 0%;
	margin: 0;
	font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
}